html, body {
  margin: 0;
  padding: 0;
  background: LightGrey;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 0 20px 20px;
}
a {
  background: transparent;
  color: #009999;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid DarkSlateGrey;
}
h2 {
  color: #006699;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  border-bottom: 1px solid #9966FF;
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: #006699;
  color: white;
  border-bottom: 4px solid #9966FF;
  font-size: 2em;
  font-style: normal;
}
table#workouts {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  -#border-bottom: 2px solid black;
}
table#workouts th {
  font-weight: bold;
  background-color: #E0A3FF;
}
table#workouts th, table#workouts td {
  padding: 4px;
  text-align: left;
}
table#workouts th.hilite {
  background-color: #FF99FF;
}

#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #006699;
}
table#exercises {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  -#border-bottom: 2px solid black;
}
table#exercises th {
  font-weight: bold;
  background-color: #E0A3FF;
}
table#exercises th, table#workouts td {
  padding: 4px;
  text-align: left;
}
table#exercises th.hilite {
  background-color: #FF99FF;
}
